name: amxx

on:
  workflow_dispatch:

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: RUN..
        run: |
          cd scripting
          chmod +x *
          ./compile.sh
          zip -r compiled.zip compiled  # ایجاد فایل zip از دایرکتوری compiled

      - name: Upload compiled.zip
        uses: actions/upload-artifact@v4
        with:
          name: compiled.zip
          path: scripting/compiled.zip

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [linux]
    steps:
      - name: Fetch compiled.zip artifact
        uses: actions/download-artifact@v4
        with:
          name: compiled.zip

      - name: Remove old release
        uses: dev-drprasad/delete-tag-and-release@v1.0
        with:
          tag_name: amxx
          delete_release: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload compiled.zip as release
        uses: svenstaro/upload-release-action@v2
        with:
          file: compiled.zip  # استفاده از فایل compiled.zip برای انتشار
          tag: amxx
          overwrite: true
          prerelease: true
          release_name: amx_compiler
